<mat-form-field class="task-form-field">
    <mat-label>New Task</mat-label>
    <input matInput type="text">
</mat-form-field>

<button mat-button color="primary" class="add_btn">Add</button>

<h3 style="color: orange;">Tasks:</h3>
<mat-card>
    <mat-card-header>
      <mat-card-title>UI</mat-card-title>
      <mat-card-subtitle>elkesziteni a UI-t</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button>Done</button>
      <button mat-button>Delete</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card>