<div class="container dashboard">
  <mat-form-field class="task-form-field">
    <mat-label>New Task</mat-label>
    <input matInput type="text" #task_title />
  </mat-form-field>
  <mat-form-field class="task-form-field">
    <mat-label>Comment</mat-label>
    <textarea matInput type="text" #task_comment></textarea>
  </mat-form-field>

  <button
    mat-raised-button
    (click)="addTask(task_title.value, task_comment.value)"
    (click)="task_title.value = ''"
    (click)="task_comment.value = ''"
    color="primary"
    class="add_btn"
    style="display: block; padding: 10px"
  >
    Add Task
  </button>

  <div class="row">
    <div class="col-md-5 task-done-container">
      <h3 style="color: #3f51b5; text-decoration: underline">Tasks:</h3>
      <mat-card
        *ngFor="let task of taskArray; let i = index"
        style="margin-block: 30px"
      >
        <mat-card-header>
          <mat-card-title>{{ task.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ task.comment }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="taskDone(i)" mat-raised-button color="primary">
            Done
          </button>
          <button (click)="taskDelete(i)" mat-button>Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 task-done-container">
      <h3 style="color: #3f51b5; text-decoration: underline">Done:</h3>
      <mat-card
        *ngFor="let done of doneArray"
        style="margin-block: 30px; opacity: 60%"
      >
        <mat-card-header>
          <mat-card-title>{{ done.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ done.comment }}
          </p>
        </mat-card-content>
      </mat-card>
      <button
        *ngIf="renderClearbtn"
        mat-raised-button
        color="primary"
        (click)="doneClear()"
        id="clear"
      >
        Clear
      </button>
    </div>
  </div>
</div>
